*{
    margin: 0;
    padding: 0;
}
.main{
    background-image: url("./assets/IN-en-20240527-popsignuptwoweeks-perspective_alpha_website_large.jpg");
    height: 80vh;
    position: relative;
}

main .box{
    /* border: 2px solid red; */
    height: 80vh;
    width: 100%;
    background-color: black;
    opacity: 0.44;
    position: absolute;
    top: 0;
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid red; */
}
/* nav span, nav div{
    width: 50%;
    border: 2px solid green;
} */

nav img{
    /* background-color: red; */
    width: 120px;
}