*{
    margin: 0;
    padding: 0;
}
.main{
    background-image: url("./assets/IN-en-20240527-popsignuptwoweeks-perspective_alpha_website_large.jpg");
    height: 80vh;
    position: relative;
    background-position: center center;
    background-size: max(1200px, 100vw);
    background-repeat: no-repeat;
    /* border: 2px solid red; */
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 60vw;
    /* border: 2px solid red; */
    margin: auto;
    height: 62px;
}
/* nav span, nav div{
    width: 50%;
    border: 2px solid green;
} */

nav img{
    /* background-color: red; */
    width: 170px;
    position: relative;
    z-index: 10;
}

nav button{
    position: relative;
    z-index: 10;
}

.box{
    /* border: 2px solid green; */
    height: 80vh;
    width: 100%;
    background-color: black;
    opacity: 0.44;
    position: absolute;
    top: 0;
}

.hero{
    color: white;
    height: 100%;
    border: 2px solid green;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}